Adobe Premiere Pro Auto-Save/
Adobe Premiere Pro Video Previews/
*.prin
Videos/*
!Videos/*/
Videos/*/*
!Videos/*/.gitkeep
Blender/walk_ref/
Blender/check*/
Blender/speedtest/
Blender/smoke/
Blender/out/*.mp4
/References/
Adobe Premiere Pro Audio Previews/
Export/
